<jqxSplitter #mainSplitter width="99.8%" height="99.5%" [panels]="[{ size: 300 }]">

  <!-- ----------------------- This is Left Side panel----------------- -->
  <div class="splitter-panel">
    <div class="title">
      <h1 style="font-size:30px;color:rgb(60, 64, 65)"><b> Introduction of Angular 12 </b></h1>
    </div>

    <li>What is angular</li>
    <li>Introduction</li>
    <li>Angular vs Angular.js</li>
    <li>Why Angular 12</li>
    <br>
    <li><a href="https://www.youtube.com/watch?v=oMj95u2zK4Y&list=PL8p2I9GklV47eNpoo4Fr6fkags72a8F0v&index=1">Video
        Link</a></li>

  </div>

  <!-- ----------------------- This is Right Side panel----------------- -->
  <div class="splitter-panel">

    <h1 style="text-align:center"> <u> {{'Introduction of Angular 12' | titlecase}} </u> </h1> <br>


    <h3><u><b> {{'What is angular' | titlecase}} </b></u>: <br>
      --> Angular is a front-end development frame work <br>
      --> For Develop Single page Application <br>
      --> Developed By Google . <br>
    </h3>
    <hr>
    <h3><u><b> {{'Introduction' | titlecase}} </b></u>: <br>
      --> MVC Framework <br>
      --> Open Source <br>
      -->Use NPM and Command Line Interface(CLI) <br>
      -->First Released in 14-sept-2016 <br>
      --> The Current Version is 12.0.0 <br>
    </h3>
    <hr>
    <h3><u><b> {{'Angular vs Angular.js' | titlecase}} </b></u>: <br>
      --> Angular js is Oldest Version not in use now <br>
      --> Latest Version after version 2 <br>
      --> Angular is a Re-written version,Structure and upgradeframework . <br>
    </h3>
    <hr>
    <h3><u><b> {{'Why Angular 12' | titlecase}} </b></u>: <br>
      --> Everything is not new <br>
      --> New Features. <br>
      --> Bug Fixes. <br>
      Speed and other improvements. <br>
      -->Mostly features are some .<br>
    </h3>

  </div>
</jqxSplitter>
