<jqxSplitter #mainSplitter width="99.8%" height="99.5%" [panels]="[{ size: 300 }]">

  <!-- ----------------------- This is Left Side panel----------------- -->
  <div class="splitter-panel">
    <div class="title">
      <h1 style="font-size:30px;color:rgb(60, 64, 65)"><b> Directives in Angular </b></h1>
    </div>

    <li> What are the Directives in Angular </li>
    <li> Example of Directives </li>
    <li> Make a new directive </li>
    <li> Update Element </li>
    <li> Interview Questations </li>
    <br>
    <br>
    <li><a href="https://www.youtube.com/watch?v=jzBPa9VsTCI&list=PL8p2I9GklV47eNpoo4Fr6fkags72a8F0v&index=43">Video
        Link</a></li>

  </div>

  <!-- ----------------------- This is Right Side panel----------------- -->
  <div class="splitter-panel">
    <h1 style="text-align:center"> <u> {{'Template-Driven Form Validation' | titlecase}} </u> </h1> <br>

    <h3><u><b>What are the Directives in Angular</b></u>: <br>
      --> Directives are the classes that can provide additional features to our html elements .
    </h3>
    <hr>
    <h3><u><b> Example of Directives </b></u> : <br>
      --> *ngIf, *ngFor, *ngSwitch, ..... etc
    </h3>

    <h3><u><b> Make a new directive </b></u> : <br>
      --> In Angular we can create our own Directives also . <br>
      --> For to Create New Directives we run <b> ng g d DirectiveName </b> this command .
    </h3>

    <h3><u><b> Update Element </b></u> : <br>
      --> After create the directive ,copy the selector in directive and use that in html tags like h1,span,div,....etc
      . <br>
      --> Next we import the ElementRef in directive.ts file . <br>
      ex: <span appRedEl> CassiniPLM </span> <br>
    </h3>

  </div>
</jqxSplitter>
