<jqxSplitter #mainSplitter width="99.8%" height="99.5%" [panels]="[{ size: 300 }]">

  <!-- ----------------------- This is Left Side panel----------------- -->
  <div class="splitter-panel">
    <div class="title">
      <h1 style="font-size:30px;color:rgb(60, 64, 65)"><b> {{'Angular CLI & important Commands' | titlecase}} </b></h1>
    </div>

    <li>{{'important Commands' | titlecase}}</li>

    <br>
    <li><a href="https://www.youtube.com/watch?v=kvJYjvoncak&list=PL8p2I9GklV47eNpoo4Fr6fkags72a8F0v&index=6">Video
        Link</a></li>

  </div>
  <!-- ----------------------- This is Right Side panel----------------- -->
  <div class="splitter-panel">

    <h1 style="text-align:center"> <u> {{'Angular CLI & important Commands' | titlecase}} </u> </h1> <br>

    <h3><u><b> {{'important Commands' | titlecase}} </b></u>: <br>
      <span style="margin-left: 15px;display: inline-block">
        --> Some Important commands <br>
        1) npm install -g @angular/cli : This help us to install the angular cli .<br>
        2) if you want to know the all command in angular type the command <b>ng help</b> <br>
        Note : link is <a href="https://angular.io/cli">link</a> <br>
        3) for to create component <b> ng generate componet componentName .</b> <br>
        4) for to create service <b>ng generate service serviceName</b> <br>
        5) for to create directive <b>ng generate directive directiveName</b> <br>
        6) for to create pipe <b>ng generate pipe pipeName</b> <br>
        7) for to run the project <b> ng server </b> <br>
        8) for to create module <b>ng generate module moduleName</b> <br> 
      </span>
    </h3>
<hr>

  </div>

</jqxSplitter>
