<h1 style="text-align:center" class="heading"> <u> {{'Angular 10 Features' | titlecase}} </u> </h1> <br>

<h3>
  --> Angular 10 is released on 25th june 2020. <br>
  --> Angular 9 was release in 7t feb 2020 . <br>
  --> This version released in 4 month <br>
  --> Major update are done in framework ,materialUI and CLI also.

  <b>Material UI</b> : In material ui they introduced dae range picker . <br>
  <br>
  --> Strict mode (optional) : <br>
  <span style="margin-left: 15px;">
    --> Optional Stricter Settings . <br>
    --> <b> ng new --strict </b> <br>
    --> Use above command to make your project in strict mode . <br>
    --> it Resolve AOT (ahead of time) problem. <br>
    --> Code will be more maintainable .<br>
    --> we can Catch bug easily . <br>
    <br>
  </span> <br>
  <b><u>Library Updates</u>:</b> <br>
  <span style="margin-left: 15px;">
    --> Type Script 3.9 is supported in angular 10 <br>
    --> Type Script library updated with v2.0 v <br>
    --> TS lint library updated with 6.0 v <br>
  </span> <br>

  <b><u>New config File</u>:</b> <br>
  <span style="margin-left: 15px;">
    --> tsconfig.base.json <br>
    --> This is additional file with tsconfig.js <br>
    --> This is better IDE support <br>
  </span> <br>

  <b><u>Deprecation and Removals</u>:</b> <br>
  <span style="margin-left: 15px;">
    --> ESM 5 is removed <br>
    --> It save around 120MB when installed packages. <br>
    --> Remove supported  for IE 9 and IE 10 <br>
  --> 700 fixes done for bugs<br>
  </span> <br>

  <b><u>Update angular into 10</u>:</b> <br>
  <span style="margin-left: 15px;">
    --> <b>ng update @angular/cli @angular/core</b>
  </span>

</h3>
