<jqxSplitter #mainSplitter width="99.8%" height="99.5%" [panels]="[{ size: 300 }]">

  <!-- ----------------------- This is Left Side panel----------------- -->
  <div class="splitter-panel">
    <div class="title">
      <h1 style="font-size:30px;color:rgb(60, 64, 65)"><b> Forms Introduction </b></h1>
    </div>

    <li> Why we use forms </li>
    <li> Types of Forms </li>
    <li> What we learn in upcoming tutorials </li>
    <li> Forms Data flow </li>
    <li> Interview Questations </li>
    <br>
    <br>
    <li><a href="https://www.youtube.com/watch?v=hPwrbbgEBBY&list=PL8p2I9GklV47eNpoo4Fr6fkags72a8F0v&index=37">Video
        Link</a></li>

  </div>

  <!-- ----------------------- This is Right Side panel----------------- -->
  <div class="splitter-panel">
    <h1 style="text-align:center"> <u> {{'Forms Introduction' | titlecase}} </u> </h1> <br>

    <h3><u><b> Why we use forms </b></u>: <br>
      1) Submit any kind of information to Database<br>
      2) But Angular can not connect to database <br>
      3) So we need to send data to API <br>
      4) And API update the database
      5) Example : login,signup,post,googleSearch is also a type of form .
    </h3>
    <hr>

    <h3><u><b> Types of Forms </b></u>: <br>
      There are Two Types of Forms present in Angular : <br>
      1) <b>Template-driven form :</b> Mostly work done in the component template that is .html page . <br>
      2) <b>Reactive Forms : </b> Mostly work done in the component class that is .ts file
    </h3>

    <h3><u><b> What we learn in upcoming tutorials </b></u> : <br>
      1) How to Make Forms <br>
      2) How to get Data from forms <br>
      3) How to add validations <br>
      4) How to Show Error messages <br>
      5) How to call API <br>
      6) How to show pre-fill forms
    </h3>

    <h3><u><b> Forms Data flow </b></u> : <br>
      <img src="../../../assets/DataFlowOfForms.JPG" alt="" srcset="" width="95%">
    </h3>

    <h3><u><b> Forms Data flow </b></u> : <br>
      1) What type of forms in angular ? <br>
      A) Template driven forms , Reactive Forms <br>
      2) What is the data flow of Forms ? <br>
      A) from template ---> class (.ts file ) ---> service ----> Database <br>
    </h3>

  </div>
</jqxSplitter>
