<h1 style="text-align:center"> <u> {{'Hellow World' | titlecase}} </u> </h1> <br>
<br>
<h3 style="margin-left: 15px;">
--> When we run the command  <b>ng new app1</b> ,then angular cli will create new project with name app1. <br>
-> After creation go to the app folder inside src you can see the 4 files with name app.component . <br>
--> Go to the app.component.html file you can see the inbuilt html code. Remove that code and write " hellow world " in side the h1 tag . <br>
--> Next open the command prompt go to the out project folder and run the comand <b>ng serve (or) npm start</b>. <br>
--> after complete the compilation go to the browser and type <b> http://localhost:4200 </b> then you can see the hellow world on the web page .
</h3>
