<h1 style="text-align:center">App Contains</h1>

<!-- <table>
  <tr>
    <td class="col-md-3">1</td>
    <td class="col-md-3">2</td>
    <td class="col-md-3">3</td>
    <td class="col-md-3">4 </td>

  </tr>
  <tr>
    <td class="col-md-3">6</td>
    <td class="col-md-3">7</td>
    <td class="col-md-3">8</td>
    <td class="col-md-3">9</td>
  </tr>

  <!-- <tr>
    <td class="col-sm-3">10</td>
    <td class="col-sm-3">11</td>
    <td class="col-sm-3">12</td>
    <td class="col-sm-3">13</td>

  </tr>

  <tr>
    <td class="col-sm-3">14</td>
    <td class="col-sm-3">15</td>
    <td class="col-sm-3">16</td>
    <td class="col-sm-3">17</td>
  </tr>

  <tr>
    <td class="col-sm-3">Loop in Angular</td>
    <td class="col-sm-3">Loop in Angular</td>
    <td class="col-sm-3">Loop in Angular</td>
    <td class="col-sm-3">Loop in Angular</td>

  </tr>
  <tr>
    <td class="col-sm-3">2</td>
    <td class="col-sm-3">3</td>
    <td class="col-sm-3">4</td>
    <td class="col-sm-3">5</td>
  </tr>
</table> -->

<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <span title="Tutorial 1" routerLink="/tutorial/1"> 1. Introduction </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 2" routerLink="/tutorial/2"> 2. Setup and install </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 3" routerLink="/tutorial/3"> 3. Files and Folder Structure </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 4" routerLink="/tutorial/4"> 4. Hellow world </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <span title="Tutorial 5" routerLink="/tutorial/5"> 5. What is interpolation </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 6" routerLink="/tutorial/6"> 6. Angular CLI & important commands </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 7" routerLink="/tutorial/7"> 7. Component </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 8" routerLink="/tutorial/8"> 8. component with inline Style & Template </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 ">
      <span title="Tutorial 9" routerLink="/tutorial/9"> 9. What is Module </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 10" routerLink="/tutorial/10"> 10. Make and Call Function on button click </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 11" routerLink="/tutorial/11"> 11. Get TextBox Value And Print </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 12" routerLink="/tutorial/12"> 12. Make Counter </span>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3 ">
      <span title="Tutorial 13" routerLink="/tutorial/13"> 13. How To start with Style </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 14" routerLink="/tutorial/14">14. Property Binding</span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 15" routerLink="/tutorial/15"> 15. If-Else </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 16" routerLink="/tutorial/16"> 16. Multiple conditions or Elseif </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 17" routerLink="/tutorial/17"> 17. Switch Case </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 18" routerLink="/tutorial/18"> 18. For Loop In Angular</span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 19" routerLink="/tutorial/19"> 19. Nested Loop </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 20" routerLink="/tutorial/20"> 20. Style Binding </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 21" routerLink="/tutorial/21"> 21. Header </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 22" routerLink="/tutorial/22"> 22. Basic Form </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 23" routerLink="/tutorial/23"> 23. Toggle Element </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 24" routerLink="/tutorial/24"> 24. How to use Bootstrap with Angular </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 25" routerLink="/tutorial/25"> 25. Material UI </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 26" routerLink="/tutorial/26"> 26. Todo list in angular </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 27" routerLink="/tutorial/27"> 27. Pass data to child component </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 28" routerLink="/tutorial/28"> 28. Reusuable component </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 29" routerLink="/tutorial/29"> 29. Send Data Child To Parent Component </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 30" routerLink="/tutorial/30"> 30. Two way binding </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 31" routerLink="/tutorial/31"> 31. Template Reference variable </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 32" routerLink="/tutorial/32"> 32. Basics of TypeScript for angular </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 33" routerLink="/tutorial/33"> 33. Send Data Child To Parent Component </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 34" routerLink="/tutorial/34"> 34. Advanced Pipes </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 35" routerLink="/tutorial/35"> 35. Make custome Pipes </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 36" routerLink="/tutorial/36"> 36. Form Introduction </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 37" routerLink="/tutorial/37"> 37. Template Driven Forms</span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 38" routerLink="/tutorial/38"> 38. Template Driven Forms validations </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 39" routerLink="/tutorial/39"> 39. Reactive Forms </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 40" routerLink="/tutorial/40"> 40. Reactive Form validations </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 41" routerLink="/tutorial/41"> 41. Directives in Angular </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 42" routerLink="/tutorial/42"> 42. Basic Routing </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 43" routerLink="/tutorial/43/tutorial43"> 43. Dynamic Routing in Angular </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 44" routerLink="/tutorial/44"> 44. Wild card 404 page routing </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 45" routerLink="/tutorial/45"> 45. Child Routing</span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 46" routerLink="/tutorial/46"> 46. What we Service </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 47" routerLink="/tutorial/47"> 47. Make Service and use in multiple files </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 48" routerLink="/tutorial/48"> 48. Get Data from API and Display </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 49" routerLink="/tutorial/49"> 49. API Post Method </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 50" routerLink="/tutorial/50"> 50. Model And Interface </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 51" routerLink="/tutorial/51"> 51. Recap module and Routing </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 52" routerLink="/tutorial/52"> 52. Routing Module </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 53" routerLink="/tutorial/53"> 53. Group Routing </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 54" routerLink="/tutorial/54"> 54. Lazy Loading </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 55" routerLink="/tutorial/55"> 55. Lazy Loading Component </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 56" routerLink="/tutorial/56"> 56. Angular Testing Automation </span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 57" routerLink="/tutorial/57"> 57. First Unit test case </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 58" routerLink="/tutorial/58"> 58. Component unit testing </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 59" routerLink="/tutorial/59"> 59. New Features in angular 10 </span>
    </div>

    <div class="col-md-3 ">
      <span title="Tutorial 60" routerLink="/tutorial/60"> 60. New Features in angular 12 </span>
    </div>

  </div>


  <div class="row">

    <div class="col-md-3 ">
      <span title="Tutorial 61" routerLink="/tutorial/61"> 61. Angular 13 Features </span>
    </div>



  </div>

</div>
